#flask
Flask==2.1.2
Werkzeug==2.1.2

# Database
# ---------------------------------------------
psycopg2-binary==2.9.3

# base ----------------------------------------

matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
yolov5==6.1.2

# plotting ------------------------------------

pandas>=1.1.4
seaborn>=0.11.0

#deepsort
easydict==1.9

# torchreid
Cython==0.29.30
h5py==3.7.0
six==1.14.0
tb-nightly==2.10.0a20220526
future==0.18.2
yacs==0.1.8
yapf==0.32.0
gdown==4.4.0
isort==4.3.21
imageio==2.19.2

